# match() function

In [88]:
import re
str = "She sells sea shells on the sea shore"
pattern1 = "sells"
if re.match(pattern1, str):
    print("Match Found")
else:
    print(pattern1, "is not present in the string")

sells is not present in the string

In [89]:
pattern2 = "She"
if re.match(pattern2, str):
    print("Match Found")
else:
    print(pattern1, "is not present in the string")

Match Found

# search() function

In [90]:
import re
str = "She sells sea shells on the sea shore"
pattern3 = "sells"
if re.search(pattern3, str):
    print("Match Found")
else:
    print(pattern1, "is not present in the string")

Match Found

# sub() function

In [93]:
import re
str = "She sells sea shells on the sea shore sea sea"
pattern4 = "sea"
repl = "ocean"
new_str = re.sub(pattern4, repl, str)
print(new_str)

She sells ocean shells on the ocean shore ocean ocean

# findall() function

In [95]:
import re
pattern5 = r"[a-zA-Z]+ \d+"
mat = re.findall(pattern5,"LXI 2013, VXI 2015, VDI 2014,Maruti Suzuki Cars in India")
for i in mat:
    print(i,end=" ")

# find a word in the String

In [96]:
import re
nameAge = '''Amit is 22 and Ram is 33
Sam is 44 and John is 21
'''

age = re.findall(r'\d{1,3}',nameAge)
name = re.findall(r'[A-Z][a-z]*',nameAge)

ageD = {}
x=0
for i in name:
    ageD[i]=age[x]
    x+=1
    
print(ageD)

{'Amit': '22', 'Ram': '33', 'Sam': '44', 'John': '21'}

# find a range of character

In [102]:
import re
str = "sat, hat, pat, mat"

s = re.findall("[h-m]at",str)
for i in s:
    print(i)

hat
mat

In [103]:
import re
str = "Sat, hat, pat, mat"

s = re.findall("[^h-m]at",str)
for i in s:
    print(i)

Sat
pat

# replace a string

In [105]:
import re
str = "hat rat pat mat"

regex = re.compile("rat")
s = regex.sub("food", str)
print(s)

hat food pat mat

# matches a single character

In [106]:
import re
str = "12345"
print("Matches: ",len(re.findall("\d",str)))

Matches:  5

In [107]:
import re
str = "12345"
print("Matches: ",len(re.findall("\D",str)))

Matches:  0

In [108]:
import re
str = "12345"
print("Matches: ",len(re.findall("\d{5}",str)))

Matches:  1

In [109]:
import re
str = "123 1234 12345 123456 1234567"
print("Matches: ",len(re.findall("\d{5,7}",str)))

Matches:  3

# Phone number verification

3 starting digits and - sign

3 middle digits and - sign

4 digit in the end

In [110]:
# \w [a-zA-Z0-9]
#\W [^a-zA-Z0-9]
# \s [\f\n\t\v\r]
# \S [^\f\n\t\v\r]

phone = "412-345-1234"
phone1 = "412-345-123"

if re.search("\w{3}-\w{3}-\w{4}",phone):
    print("valid phone number")
    
if re.search("\w{3}-\w{3}-\w{4}",phone1):
    print("valid phone number")
else:
    print("not valid numner")

valid phone number
not valid numner

In [113]:
name="Amit Sharma"
if re.search("\w{2,20}\s\w{2,20}",name):
    print("valid name")

valid name

# email verification

1-20 lowercase and uppercase letters, number, plus ._%+-

An @ sysmbol

2 to 20 lowercase and uppercase letter numbers, plus .-

A peroid

2 to 3 lowercase and uppercase letter

In [114]:
import re
email = "sk@aol.com md@com sam@ @sec.com  dc@.com"
print("Email Matches:", len(re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",email)))

Email Matches: 1

# web scarping

In [115]:
import urllib.request
from re import findall
url = "https://www.summet.com/dmsi/html/codesamples/addresses.html"
response = urllib.request.urlopen(url)
html = response.read()
htmlstr = html.decode()

data = findall("\(\d{3}\) \d{3}-\d{4}",htmlstr)

for i in data:
    print(i)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139